@use "../../globalStyles/globalStyles.scss" as global;

.control_btns{
  @include global.flex-config(row, space-around, center, nowrap);

  width: 80%;
}

.register_btn{
  font-size: 16px;
  background-color: global.$blue;
  transition: background-color 0.3s ease-in;

  &:hover{
     background-color: global.$dark-blue;
  }
}