@use "../../../globalStyles/globalStyles.scss" as global;

.category__section{
  @include global.flex-config(row, space-around, center, nowrap);

  min-width: 300px;
  width: 90vw;
  height: 180px;

  z-index: 1;
  opacity: 1;

  @media screen and (min-width: 769px) {
    width: 50vw;
  }

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  border-radius: 5% 5% / 15% 15%;
  transition: box-shadow 0.3s ease-out;

  &:hover{
    box-shadow: 8px 8px 20px black inset;
  }

  a{
    @include global.flex-config(row, center, center, nowrap);

    width: 100%;
    height: 100%;

    backdrop-filter: blur(3px);
    text-decoration: none;
  }

  .title{
    @media screen and (min-width: 768px) {
      padding: 2px 4px;
    }

    font-size: clamp(40px, 50%, 50px);

    padding: 4px 6px;
    border-radius: 10% 10% / 50% 50%;

    color: global.$dark-blue;
    background-color: rgba(255, 255, 255, 0.4)
  }

}