@use "../../../globalStyles/globalStyles.scss" as global;

.button {
  background-color: transparent;
  border: none;
  padding: 0 5px;

  font-size: 20px;


  min-width: max-content;

  cursor: pointer;
  top: 0;
  right: 0;

  @media screen and (min-width: 786px){
    border-radius: 5px;

    width: fit-content;
    height: fit-content;
  }
}

.button_background{
  background-color: global.$dark-blue;
}
.danger, .success{
  transition: background-color 0.3s ease-in;
}
.danger{
  background-color: darkred;
  color: white;

  &:hover{
    background-color: red;
  }
}
.success{
  background-color: green;
  color: white;

  &:hover{
    background-color: darkgreen;
  }
}