@use "../../globalStyles/globalStyles.scss" as global;

.item__page{
  @include global.flex-config(column, space-around, center, nowrap);

  .images{
    @include global.flex-config(column, space-around, center, nowrap);

    width: 100%;

    img{

      max-width: 80vw;

      margin-bottom: 2vh;
    }
  }

  .share__btns{
    @include global.flex-config(column, space-around, center, nowrap);

    width: 60px;

    background-color: global.$blue;

    position: fixed;
    bottom: 15vh;
    right: 55px;

    @media screen and (max-width: 768px){
      bottom: 15vh;
      right: 10px;
    }

    padding: 10px 5px;
    border-radius: 10px;
  }

}